p {
    margin-bottom: 25px;
}

.wp-block-image.size-large img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
    border: solid thin black;
}

.wp-block-image figcaption {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.75rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.25rem !important;
}

h5 {
    font-size: 1rem !important;
}

h6 {
    font-size: 1rem !important;
    font-weight: normal;
}

.blocks-gallery-item__caption {
    background: #fffa !important;
    padding: 0.5rem !important;
    color: black !important;
    margin: 1rem !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    font-size: 1rem !important;
    text-transform: uppercase !important;
}

.blocks-gallery-caption {
    text-align: center;
    margin-bottom: 2rem;
}

.wp-block-quote {
    border: solid thin #ddd;
    text-align: center;
    background-color: #f8f8f8;
}

.wp-block-quote p {
    margin-bottom: 0;
}

.wp-block-quote cite {
    text-align: right;
}

.wp-block-code code {
    width: 100%;
    display: block;
}

.wp-block-pullquote blockquote {
    background: #f8f8f8;
    border: solid thin #ddd;
}

.wp-block-cover {
    margin-bottom: 1rem;
}

.wp-block-media-text {
    margin-bottom: 1rem;
}

.wp-block-button a {
    border-radius: 5px;
    color: white !important;
    background-color: cornflowerblue;
}

.wp-block-button a:hover {
    background-color: royalblue;
}

.wp-block-columns .wp-block-column {
    /* box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px 0px;
    padding: 1rem; */
}

ul {
    list-style: none !important;
}

ul li {
    border-bottom: solid thin gainsboro;
}

.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before, .wp-block-cover-image .wp-block-cover__gradient-background, .wp-block-cover.has-background-dim:not(.has-background-gradient):before, .wp-block-cover .wp-block-cover__gradient-background {
    margin: 1rem;
    opacity: 0.75;
}